* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background-color: black;
	width: 100%;
	height: 100vh;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
}


.contenido {
	width: 90%;
	background-position: center bottom -24px;
	background-image: url('../imagen/imageParking.jpg');
	background-size: cover;
	border: double 24px;
	margin: 2% 5%;
	display: grid;
	align-content: center;
	justify-content: center;
}

.informacion {
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1 {
	margin-top: 32px;
	padding-bottom: 28px;
	text-align: center;
}

h2 {
	color: brown;
	margin-bottom: 16px;
	text-align: center;
}

label {
	font-size: 26px;
	margin-bottom: 20px;
	margin-top: 12px;
}

strong {
	margin-bottom: 4px;
}

input,
select {
	width: 80%;
	height: 100%;
	padding: 2%;
	border-color: #0072ff;
	text-align: center;
	text-transform: uppercase;
}

input::placeholder {
	color: black;
	text-align: center;
}

button {
	margin-top: 20px;
	margin-bottom: 36px;
	padding: 8px;
	font-size: 16px;
	background-color: #0072ff;
	color: white;
	border-radius: 4px;
	border-color: #0072ff;
	cursor: pointer;
}

.buttondelete {
	background-color: #e60f2f;
	border-color: #e60f2f;
	margin-bottom: 24px;
}

section {
	margin: 30px auto;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	max-width: 90%;
	background-color: #f2f2f2;

}

.columna {
	background-color: #f2f2f2;
	padding: 10px;
	color: black;
	text-align: center;
}

.buscarinfo {
	margin-left: 75%;
	width: 25%;
}

.advertencia {
	color: red;
	display: none;
	margin-top: 4px;
}

.principal,
.resultadoHora,
.resultadoPlaca,
.resultadosTiempo,
.resultadosTipoV {
	display: none;
}

@media (max-width: 600px) {
	section {
		grid-template-columns: 1fr;
	}
}